.write {
    margin-top: 50px;
    margin-left: 50px;
}


#left_nav {
    position: fixed;
    background-color: white;
    left: 0; top: 0; bottom: 0;
    width: 160px;
    border: 1px solid black;
}


#right_nav {
    position: fixed;
    background-color: white;
    right: 0; top: 0; bottom: 0;
    width: 160px;
    border: 1px solid black;
}


.feed {
    margin: 0 auto; width: 750px;
    border: 1px solid black;
}